.post {
	margin-bottom: 6em;
	
    p, span, li {
        font-size: 1.6rem;
    }
	
	.author{
		padding-left: 4px;
		font-size: 1.6rem;				
	}
	
	.post-header{
		text-align:center;
		margin-bottom: 3.5em;
		
		span {
			color: $brand-50-gray;
		}
	}
}

.blog{
    p, span, li {
        font-size: 1.6rem;
    }

	.blogHeader{	
		position: relative;
		padding:0 15px 25px 15px;
		h1 {
			display: inline-block;
		}		
		div{
			position: relative;
			top: 5px;
			display: inline-block;
					
			img{
				float: left;
				padding-left:14px;
				width: 38px;
			}
			a{
				float: left;
				font-size: 12pt;
				padding: 4px 0 0 4px;
				font-weight: lighter;
				color: #4cc2e4;
			}	
		}			
	}		
	
	//blog landing page
	.blog-list{
		
		ul {
			list-style-type: none;
			padding-bottom: 20px;
		}
		
		.posts{
	
			li:first-child header .adorner
			{
				background-color: #3992ab;
			} 		
			
			header{
				
				position: relative;
				height: 64px;
				
				.adorner{
					height: 50px;
				    width: 5px;
				    background-color: #f2f2f2;
				    position: absolute;
				    left: -20px;
				}
						
				.title{
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}
				.author{
					padding-left: 6px;
					font-size: 1.9rem;				
				}					
				div:nth-of-type(2){
					color: #b58733;
					font-size: 2.4rem;
					top:-4px;
					position: relative;
					
					span {
					    font-size: 1.8rem;
						color: #999;
						position: relative;
						top:-6px;
					}
					
					.date{
						color: #2f2f2f;
					}			
				}		
			}
			section{
				padding-bottom: 60px;
				
				a{
					font-size: 1.6rem;
				}					
			}
			
		}

	}
	
	.social-container{
		max-width: 360px;
		padding: 128px 0 20px 0;
		
		.container{
			background-color: #f2f2f2;
			width: 330px;
			padding-bottom: 18px;
			
			.header{
			    position: relative;
			    padding: 20px 0 6px 0;
				
				div{
					float:left;
					color: #808080;
					font-size: 18px;
					padding-left:2px;
				}
				
				img{
					padding:2px 0 10px 12px;
					width: 134px;
					margin: 0px;
					border-radius: 0px;
				}
				
			}
			
			.feed{
			    background-color: white;
			    padding: 0px;
				height: 449px;
				
				//These rules need to be updated to match the Twiter's live feed widget ones.
				ul {
					list-style-type: none;
					padding: 0;
					margin: 0;
					
					li{
						position: relative;
					
						img{
							top: 0px;
							float: left;
							width: 36px;
							margin: 0px;
							border-radius: 0px;
						}
						.name{
							color: black;
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;
							font-weight: bold;
							font-size: 110%;
							padding-left: 8px;
						}
						.handle{
							color:gray;
							font-weight: lighter;
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;
							font-size: 90%;	
							padding-left: 7px;
							margin-top: -2px;					
						}
						.date{
							color: gray;
							font-weight: bold;
							float: right;
						}
						.content{
							color: black;
							padding-top: 6px;
							padding-left: 1px;
						}
						hr{
							margin: 18px;
							border-bottom: none;
						}												
					}
										
				}
			}
			.promo{
				color: gray;
			    background-color: white;
			    height: 40px;
			    padding-top: 9px;
			    margin-top: 15px;
			    text-align: center;
			    font-size: 110%;
				
				&:hover{
					color: white;
			    	background-color: gray;
				}
				
			}
			

		}
	
	}

	//rss link at the bottom of the page
	.rss-link{
		padding: 0 18px 18px 40px;
		img{
			width: 88px;
			height: 31px;
		}
	}	
	
	//single post landing page
	div.post{
		padding:12px 15px 0 15px;
		margin-top:-8px;
		
		.title{
			font-size: 30pt;
		}

		.author{
			padding-left: 6px;
			font-size: 12pt;						
		}		
		
		div{
			padding-bottom: 30px;
			
			span{
				font-size: 11pt;
				color: #9a9a9a;
				position: relative;
				top:-4pt;
			}
		}
		section > div.content{
			padding: 40px 0;
			color: black;
		}
		
		.disqus{
        	margin-top: 30px;
			
			div{
				padding-bottom: 0px;
			}
			
    	}
		
	}
	
	section.nextprev-posts{				
		div{			
			.header{
				padding: 10px 0;				
			}					
			.title{
				color: #3992ab;
				font-size: 14pt;
			}				
			span{
				font-size: 9pt;
				color: #999;
				padding: 0 4px;			
			}						
		}
		.next , .prev{
			padding: 10px 15px;
		}											
	}
	
	section.nextprev-controls{
						
		div{
			position: fixed;
			top:37%;	
			.title{
				color: white;
				font-size: 12pt;								
			}
			span{
				font-size: 9pt;
				color: #999;
				padding: 0 2px;				
			}
			div{
				position: relative;
				top: 64px;
				left: 20px;	
				z-index:10;
				width: 240px;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;				
			}				
		}
				
		.next {
			right: 0px;
			height:90px;
			width: 321px;
			top:calc(37% - 38px);	
			img{
				position: fixed;
				right: 0px;
			}							
		}
		.prev{
			left:0px;			
		}
		
		
		@media (max-width: 1800px) { 
			.next {
				img{
	    			clip: rect(0px, 321px, 89px, 262px);
					top:37%;
				}							
			}
			div{	
				.title{
					display:none;				
				}
				span{
					display:none;  
				}				
			}						
		}
		@media (max-width: 1300px) { 
			.next, .prev {
				img{
	    			display:none;  
				}							
			}
		}															
	}						
}