.faq hr {
    margin-top: 3rem;
    padding-bottom: 1rem;
}
.faq .main_content {
    padding-top: 0px;
    padding-bottom: 3rem;
}
.faq {
    margin-top: 4rem;
}

.faq a.anchor {
    padding-left: 1rem;
    opacity: 0.5
}

.faq h1 {
    text-align: center
}

.faq p {
    font-size: 1.6rem;
}