.friends {
    
    margin-top: 4em;
    
    h1{
        padding: 0 1.4em;
        padding-bottom: 0.5em;
        margin-top: 0;
    }
    .introduction{
        padding: 1em 2em 3em 2em;
    }
    
    .friend-container {
        padding-bottom: 8em;
        margin: 0;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    
    .friendbar-content {
        position: relative;
        z-index: 5;
        width: 100%;
        max-width: 120em;
        margin: 0 auto;
    }
    .friend-info {
        color: #666666;
    }
    
    .friend-contentcontainer {
        width: 100%;
    }
    
    .friend-item {
        padding: 2em;
        height: 100%;
        margin-top: 10px;
        text-align: center;
        color: black;
        margin: 10px;
        line-height: 140px;        
        background-color: rgba(0, 0, 0, 0.03);
        border-radius: 2.9em;                
    }
    
    .friend-logo {
        width: auto;
        height: auto;
        max-width: 150px;
        max-height: 225px;
        border-radius: 3.8em;        
    }
    
    .disclaimer{
        text-align:center;
        padding-top: 0em;
         padding-bottom: 5em;
    }
}