/*
********* Global Typography and Sizing ***********
*/

// @font-face {
//     font-family: Segoe UI;
//     src: url('../fonts/segoeui.otf');
//     src: local('Segoe UI'), local('SegoeUI');
// }
// @font-face {
//     font-family: Segoe UI Light;
//     src: url('../fonts/segoeui.otf');
//     src: local('Segoe UI Light'), local('SegoeUILight');
// }

@font-face {
    font-family: 'wf_segoe-ui_normal';
    src: url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot");
    src: url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot?#iefix") format("embedded-opentype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.woff") format("woff"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.ttf") format("truetype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.svg#web") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wf_segoe-ui_light';
    src: url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.eot");
    src: url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.eot?#iefix") format("embedded-opentype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.woff") format("woff"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.ttf") format("truetype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.svg#web") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Bold';
    src: url("//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.eot");
    src: url("//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.eot?#iefix") format("embedded-opentype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.woff") format("woff"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.ttf") format("truetype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.svg#web") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa-Bold';
    src: url("../fonts/Comfortaa-Bold.ttf");
}

@font-face {
    font-family: 'Comfortaa-Regular';
    src: url("../fonts/Comfortaa-Regular.ttf");
}

@font-face {
    font-family: 'Comfortaa-Light';
    src: url("../fonts/Comfortaa-Light.ttf");
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("../fonts/glyphicons-halflings-regular.eot");
    src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.c91726c4.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

body {
    font-family: wf_segoe-ui_normal;
    font-size: 10px;
    background-color: $brand-backgound-color;
    color: black;
    overflow-x: hidden;
}

strong {
    font-family: Segoe UI Bold;
}

@media (max-width: $screen-xs-max) {
    body {
        font-size: 8px;
    }
}

@media (min-width: $screen-sm-min) {
    body {
        font-size: 8.5px;
    }
}

@media (min-width: $screen-md-min) {
    body {
        font-size: 9px;
    }
}

@media (min-width: $screen-lg-min) {
    body {
        font-size: 10px;
    }
}

p, span {
    font-size: 1.6em;
}

h1 {
    color: $brand-accent-color;
    font-family: "Comfortaa-Bold";
    font-size: 4em;
}

h2 {
    color: $brand-50-gray;
    font-family: "Comfortaa-Regular";
    font-size: 3em;
}

h3 {
    color: $brand-olive-green;
    font-family: "Comfortaa-Bold";
    font-size: 2.5em;
}

h4, h5, h6 {
    color: $brand-50-gray;
    font-family: "Segoe UI Bold";
    text-transform: uppercase;
}

a {
    color: $brand-light-blue;
}

a:hover {
    color: lighten($brand-light-blue, 10%);
}

img {
    max-width: 100%;
    text-align: center;
    height: auto;
}

.container.main_content {
    padding-top: 22px;
}

/*
********* Navigation Bar (Navbar) ***********
*/
.navbar-default {
    background-color: $brand-nav-color;
    border: 0px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);

    ul.navbar-nav {
        margin-bottom: -3px;

        /* Fixes spacing caused by inline-block */
    }
}

.navbar-toggle {
    margin-left: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-nav > li > a {
    color: $brand-light-gray;
    font-size: 14px;
    padding-left: 1.5em;
}

.navbar-default .navbar-nav > li > a:hover {
    color: white;
    background-color: rgba($brand-lightest-color, 0.30);
}

.navbar-default .navbar-nav > li > a:focus {
    color: $brand-lightest-color;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: $brand-nav-color-focus;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #333333;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}

.navbar-nav {
    color: white;
}

.navbar-brand {
    padding: 0px;
    position: absolute;
}

.navbar-logo {
    width: 200px;
    transition: all .1s ease-in-out;
    &:hover {
        @include vendor-prefix(transform, scale(1.03));
    }
    padding-top: 7px;
    padding-left: 3px;
}

.navbar-spacer {
    height: 3.6em;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: $brand-nav-color-focus;
}

.fork-me-ribbon {
    width: 16em;

    /*130px*/
    right: 0;
    top: 0;
    position: absolute;
}

@media (max-width: 359px) {
    .fork-me-ribbon {
        display: none;
    }
}

//change when ready

/*
********* Footer ***********
*/
.footer-container {
    background-color: $brand-dark-gray;
    position: relative;
    z-index: 1;
}

#footer {
    color: $brand-50-gray;
    padding-top: 30px;
    padding-bottom: 30px;

    strong {
        color: inherit;
    }

    p {
        font-size: 1.4em;
    }
    
    h3 {
        margin-top:10px;
    }

    .nav > li > a {
        padding-left: 0;
        font-size: 1.6em;
    }

    .early-adopters {
        p {
            padding-top: 14px;
        }
    }
}

.signature-container {
    background-color: $brand-white;
    position: relative;
    z-index: 1;

    .signature {
        margin: 0;

        .ms-logo-footer {
            width: 8em;
            padding-top: 0px;
            padding-left: 20px;
        }

        p {
            font-size: 1.2rem;
            line-height: 5.6em;
            vertical-align: middle;
            color: $brand-50-gray;

            span {
                margin-top: 10px;
                font-size: 1em;
                padding: 0 2px;
            }
        }

        .pull-left, pull-right {
            margin-bottom: 0px;
        }
    }
}

@media (max-width: $screen-sm-max) {
    #footer {
        font-size: 1.2em;
    }

    .ms-logo-footer {
        padding-top: 4px;
    }
}

@media (min-width: $screen-md) {
    .ms-logo-footer {
        padding-top: 6px;
    }
}

/*
********* Modifications to Bootstrap ***********
*/
button.btn {
    background-color: $brand-middle-blue;
    color: $brand-white;
    border-radius: 0;
    border: 0;
}

button.btn-invert {
    background-color: $brand-light-blue;
    color: $brand-dark-gray;
}

button.btn-invert:hover {
    background-color: lighten($brand-light-blue, 10%);
    color: lighten($brand-dark-gray, 10%);
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: $brand-dark-gray;
}

/* centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;

    /* reset the text-align */
    text-align: left;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

.github-fork-ribbon {
    background-color: #6c9548
}
@media (max-width:430px) {
    .github-fork-ribbon { display:none; }
}