/*
********* Hero Section ***********
*/

.hero {
    background-color: black;
    background-image: url('../images/CodePushFinal_4_bg.svg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/CodePushFinal_4_bg.svg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/CodePushFinal_4_bg.svg', sizingMethod='scale')";
}

.hero-image-foreground {
    width: auto;
    max-width: 85%;
    left: 50%;
    margin-bottom:-6em;
    margin-top: -5em;
    max-height: 66em;
    
    @include vendor-prefix(transform, translateX(-50%));

    position: relative;
}

@media (max-width: $screen-xs-max) {
    .hero-image-foreground {
        margin-top: 0;
        max-width: initial;
        width:150%;
        height:150; //fixes Edge squishing it
    }

    .bannerLogo {
        display: none;
    }
}

.top_navbar_spacer {
    height: 50px;
}

.top_section {
    text-align: center;
    font-size: 1em;

    .row:first-child {
        position: relative;
    }

    padding-bottom: 45px;
}

.hero_logo_container {

    .logo_text {
        font-size: 6em;
        font-family: "Comfortaa-Bold";

        .logo_text_code {
            color: $brand-light-blue;
        }

        .logo_text_push {
            color: $brand-accent-color;
        }
    }

    .signup-banner {
        padding-top: 8px;
    }

    img, div {
        color: black;
        font-size: 3.25em;
        margin: 0;

        p {
            margin-bottom: 0;
            line-height: 1em;
        }

        p:nth-child(2) {
            color: $brand-accent-color;
        }
    }
}

@media (max-width: $screen-xs-max) {
    .hero_logo_container .signup-banner {
        margin-top:3.7em;
    }
}

.hero pre {
    background-color: $brand-light-gray;
    border-color: $brand-light-gray;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.6rem;
    width: 25rem;
    margin-top: -5.2em;
    text-align: center;
}

@media (min-width: 10rem) {
    .hero_logo_container {
        font-size: .8em;

        .logo_text {
            margin-left: 0;
        }
    }

    .hero pre {
        margin-top: -5rem;
    }
}

@media (min-width: $screen-sm) {
    /* Center the navs when not collapsed */
    .navbar_center {
        text-align: center;
        height: 50px;
    }

    .navbar_center > ul {
        display: inline-block;
        float: none;
    }

    .npm-banner {
        padding-top: 40px;
    }
}

@media (min-width: $screen-lg) {
    /* Center the navs when not collapsed */
    .navbar_center {
        text-align: center;
        height: 50px;
    }

    .navbar_center > ul {
        display: inline-block;
        float: none;
    }

    .npm-banner {
        padding-top: 40px;
    }
}

.bannerLogo {
    width: 2.4em;
}

.bannerText {
    font-family: wf_segoe-ui_light;
    font-size: 2.6em;
    color: $brand-white;
}

.bannerText > p {
    font-size: 1.4em;
    font-weight: 500;
    padding: 0 3em 0 3em;
}

.bannerTextHeadline {
    font-weight: lighter;
    padding: 0 1.4em;
    padding-bottom: .5em;
    font-weight: 500;
}

.bannerButtons {
    margin-top: 4em;
}

.bannerButtons > .col-sm-4 {
    border-radius: 0;
    padding: 4px;
}

.bannerButtons > div > .btn {
    border-radius: 0;
    background-color: $brand-accent-color;
    color: black;
    width: 10em;
    padding: 10px 16px;
    font-size: 1.6em;
}

.value-prop-container {
    background-color: $brand-dark-blue;
    width: 100%;
    padding: 2em 0 2.5em;
    font-size: 1.4em;
    color: $brand-white;
}

.next-steps-container {
    background-color: $brand-light-gray;
    padding: 4em 0;

    .row > div {
        .content {
            padding-top: 10px;
            padding-left: 25px;
            font-size: 1.6rem;
            line-height: 1.6em;
        }

        .next-step-link {
            font-size: 2.2em;
            font-family: "Comfortaa-Regular";
            color: $brand-middle-blue;

            span {
                font-size: 1em;
            }
        }
    }

    .row > div:nth-child(1) {
        padding-right: 60px;
    }

    .row > div:nth-child(2) {
        padding-left: 60px;
        border-left: 1px solid $brand-middle-blue;
    }
    
    p {
        font-size: 1.6rem;
    }
}

.beta-container {
    background: url('../images/betaBg.png') no-repeat center;
    background-color: #32404B;
    padding-bottom: 1em;
    color: $brand-50-gray;

    img {
        max-width: 120px;
    }

    @media (max-width: $screen-sm) {
        background-color: #333333;

        img {
            max-width: 80px;
        }
    }

    h1 {
        margin-top: 5px;
        margin-bottom: 0px;
    }

    .textarea-container {
        margin-right: auto;
        margin-left: auto;
        padding-top: 5px;
        max-width: 700px;

        textarea {
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            resize: none;
            padding: 15px;
            font-size: 1.6rem;
        }
    }

    .checkbox {
        color: $brand-white;
        font-size: 1.6rem;
        width: 100%;

        label {
            margin-left: 10px;
        }
    }

    button {
        margin: 0px 10px;

        i {
            font-size: 1.6em;
            margin-top: -20px;

            @include vendor-prefix(transform, translateY(10%));

            margin-right: 10px;
            margin-left: 0px;
        }

        margin-bottom: 20px;
    }
}

@media (max-width: $screen-sm) {
    .next-steps-container {
        .row {
            padding: 12px;
            font-size: 1.2em;
        }

        .row > div:nth-child(2) {
            padding-left: 18px;
            padding-top: 18px;
            border-left: 0px;
            margin-bottom: -20px;
        }
    }
}

.value-prop {
    font-size: 1em;
    height: 4em;
    margin: 1em 0 1em 0;

    p, div {
        position: relative;
        top: 50%;

        @include vendor-prefix(transform, translateY(-50%));

        display: inline-block;
    }

    p {
        padding-left: 4em;
        padding-right: 1em;
    }

    @media (max-width: 607px) {
        p {
            padding-left: 6em;
        }
    }

    .value-prop-icon {
        background-image: url(../images/valueprop_sprite.svg);
        background-clip: padding-box;
        width: 5em;
        height: 5em;
        background-repeat: no-repeat;
        background-size: 15em;
        position: absolute;
    }
}

.value-prop-1 {
    background-position:0;
}

.value-prop-2 {
    background-position:50%;
}

.value-prop-3 {
    background-position:100%;
}

.box-highlight-containers {
    padding: 0 2em;
}

.box-headline-img {
    margin-top: 5em;
    width: 8em;
}

.box-text {
    font-size: 1.2em;
    padding: 0 1.5em;
}

.line {
    display: inline-block;
}

.box-text > h3 {
    font-size: 1.6em;
    padding-bottom: .5em;
}

@media (min-width: 767px) {
    #navigation {
        position: fixed;
    }
}

@media (max-width: 607px) {
    .navbar-spacer {
        height: 5em;
    }
}

/*
********* How it works ***********
*/
.how_it_works {
    margin-top: 4em;
    
    small {
        font-size: 1.3rem;
    }
    
    ol {
        -moz-padding-start: 1.4em;
        -webkit-padding-start: 1.4em;
        -khtml-padding-start: 1.4em;
        -o-padding-start: 1.4em;
        padding-left: 1.4em;
        font-size: 1.6rem;
        line-height: 1.8em;

        li {
            margin-bottom: 10px;
        }
    }
    
    p {
        font-size: 1.6rem;
        line-height: 1.8em;
    }
    
    .img {
        max-width: 375px;
    }
}

/*
********* Getting Started ***********
*/
.getting_started {
    
    .row:first-child {
        margin-bottom: 1em;
    }

    .row {
        margin-bottom: 4em;
    }

    h1:first-child {
        margin-bottom: .7em;
    }

    h2 {
        margin-top: -40px;
        margin-left: 60px;
        margin-bottom: 20px;
    }

    h2 > span {
        position: relative;
        top: 44px;
        left: -60px;
    }

    p {
        font-size: 1.6rem;
        line-height: 1.8em;
    }
}

@media (min-width: $screen-md) {
    .getting_started {
        p {
            padding-top: 4px;
        }

        h2 {
            margin-top: 0px;
            margin-left: 0px;
            margin-bottom: 20px;
        }

        h2 > span {
            position: relative;
            top: 44px;
            left: -60px;
        }
    }
}

.number_circle {
    width: 50px;
    height: 50px;
    padding: 8px;
    font-size: 24px;
    color: #ffffff;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: $brand-accent-color;
    border-radius: 50%;
    margin-top: -9px;
}

@media (min-width: $screen-md) {
    //Let's us put a numbered circle as aligned to h2 on medium-large devices
    .number_circle {
        margin-left: 15px;

        // To make it look like Bootstrap's column padding default is padding it
        position: absolute;
        left: 0;
    }

    .getting-started-text {
        padding-left: calc(15px + 70px);

        //Bootstrap's default + 50px extra for the number circle
   
    }
}

.well_code {
    @extend .well;

    padding: 19px;
    padding-bottom: 19px + 50px;
    position: relative;
    background-color: $brand-light-gray;
    margin-top: 46px;

    p {
        font-family: Menlo, Monaco, "Courier New", monospace;
    }

    div {
        @extend .well_code;

        position: absolute;
        top: 100%;

        @include vendor-prefix(transform, translateY(-100%));

        padding: 0;
        margin: 0;
        background-color: darken($brand-light-gray, 10%);
        width: 100%;
        margin-left: -19px;

        button {
            margin: 5px;
        }
    }
}

.well_text {
    @extend .well;
    
    padding: 19px;
    margin-top: 46px;
    border:0;
    border-radius:0;
    background-color: $brand-light-gray;
    ul {
        font-size: 1.6rem;
    }
    p {
        line-height: 1.4em;
    }
}

.next-steps {
    > ul {
        font-size: 1.6em;
    }

    > ul span {
        font-size: 1em;
    }
}

.signupText {
    margin-bottom: 20px;
}

#signupWaiting {
    display: none;
    color: $brand-light-blue;
    font-size: 2rem;
}

#signupSuccess {
    display: none;
    color: $brand-accent-color;
    font-size: 2rem;
}

#signupError {
    display: none;
    color: $brand-hot-pink;
    font-size: 2rem;
}

#authModal iframe {
    width: 700px;
    height: 500px;
}

.has-error .form-control {
    border: 2px solid $brand-hot-pink !important;
}