/* 
The main SCSS file for everything, yep
*/
/* Frameworks */
/*
@import 'poole';
@import 'lanyon';
*/
.hll {
  background-color: #ffffcc; }

.c {
  color: #999; }

.err {
  color: #AA0000;
  background-color: #FFAAAA; }

.k {
  color: #006699; }

.o {
  color: #555555; }

.cm {
  color: #0099FF;
  font-style: italic; }

.cp {
  color: #009999; }

.c1 {
  color: #999; }

.cs {
  color: #999; }

.gd {
  background-color: #FFCCCC;
  border: 1px solid #CC0000; }

.ge {
  font-style: italic; }

.gr {
  color: #FF0000; }

.gh {
  color: #003300; }

.gi {
  background-color: #CCFFCC;
  border: 1px solid #00CC00; }

.go {
  color: #AAAAAA; }

.gp {
  color: #000099; }

.gu {
  color: #003300; }

.gt {
  color: #99CC66; }

.kc {
  color: #006699; }

.kd {
  color: #006699; }

.kn {
  color: #006699; }

.kp {
  color: #006699; }

.kr {
  color: #006699; }

.kt {
  color: #007788; }

.m {
  color: #FF6600; }

.s {
  color: #d44950; }

.na {
  color: #4f9fcf; }

.nb {
  color: #336666; }

.nc {
  color: #00AA88; }

.no {
  color: #336600; }

.nd {
  color: #9999FF; }

.ni {
  color: #999999; }

.ne {
  color: #CC0000; }

.nf {
  color: #CC00FF; }

.nl {
  color: #9999FF; }

.nn {
  color: #00CCFF; }

.nt {
  color: #2f6f9f; }

.nv {
  color: #003333; }

.ow {
  color: #000000; }

.w {
  color: #bbbbbb; }

.mf {
  color: #FF6600; }

.mh {
  color: #FF6600; }

.mi {
  color: #FF6600; }

.mo {
  color: #FF6600; }

.sb {
  color: #CC3300; }

.sc {
  color: #CC3300; }

.sd {
  color: #CC3300;
  font-style: italic; }

.s2 {
  color: #CC3300; }

.se {
  color: #CC3300; }

.sh {
  color: #CC3300; }

.si {
  color: #AA0000; }

.sx {
  color: #CC3300; }

.sr {
  color: #33AAAA; }

.s1 {
  color: #CC3300; }

.ss {
  color: #FFCC33; }

.bp {
  color: #336666; }

.vc {
  color: #003333; }

.vg {
  color: #003333; }

.vi {
  color: #003333; }

.il {
  color: #FF6600; }

.css .o,
.css .o + .nt,
.css .nt + .nt {
  color: #999; }

/* Our Stuff (Global) */
/**
* BRAND COLORS
*/
/**
* GRID
*/
/**
* UTILLITY CLASSES AND MIXINS
*/
/* Mixin that prefixes any CSS rule */
.vertically-centered {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block; }

/*
********* Global Typography and Sizing ***********
*/
@font-face {
  font-family: 'wf_segoe-ui_normal';
  src: url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot");
  src: url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot?#iefix") format("embedded-opentype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.woff") format("woff"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.ttf") format("truetype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.svg#web") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'wf_segoe-ui_light';
  src: url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.eot");
  src: url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.eot?#iefix") format("embedded-opentype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.woff") format("woff"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.ttf") format("truetype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.svg#web") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Segoe UI Bold';
  src: url("//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.eot");
  src: url("//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.eot?#iefix") format("embedded-opentype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.woff") format("woff"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.ttf") format("truetype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.svg#web") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Comfortaa-Bold';
  src: url("../fonts/Comfortaa-Bold.ttf"); }

@font-face {
  font-family: 'Comfortaa-Regular';
  src: url("../fonts/Comfortaa-Regular.ttf"); }

@font-face {
  font-family: 'Comfortaa-Light';
  src: url("../fonts/Comfortaa-Light.ttf"); }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.c91726c4.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }

body {
  font-family: wf_segoe-ui_normal;
  font-size: 10px;
  background-color: white;
  color: black;
  overflow-x: hidden; }

strong {
  font-family: Segoe UI Bold; }

@media (max-width: 767px) {
  body {
    font-size: 8px; } }

@media (min-width: 768px) {
  body {
    font-size: 8.5px; } }

@media (min-width: 992px) {
  body {
    font-size: 9px; } }

@media (min-width: 1200px) {
  body {
    font-size: 10px; } }

p, span {
  font-size: 1.6em; }

h1 {
  color: #7BCD33;
  font-family: "Comfortaa-Bold";
  font-size: 4em; }

h2 {
  color: #989898;
  font-family: "Comfortaa-Regular";
  font-size: 3em; }

h3 {
  color: #70835B;
  font-family: "Comfortaa-Bold";
  font-size: 2.5em; }

h4, h5, h6 {
  color: #989898;
  font-family: "Segoe UI Bold";
  text-transform: uppercase; }

a {
  color: #56ACE2; }

a:hover {
  color: #82c1e9; }

img {
  max-width: 100%;
  text-align: center;
  height: auto; }

.container.main_content {
  padding-top: 22px; }

/*
********* Navigation Bar (Navbar) ***********
*/
.navbar-default {
  background-color: #10120F;
  border: 0px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25); }
  .navbar-default ul.navbar-nav {
    margin-bottom: -3px;
    /* Fixes spacing caused by inline-block */ }

.navbar-toggle {
  margin-left: 10px; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: white; }

.navbar-default .navbar-nav > li > a {
  color: #E5E5E5;
  font-size: 14px;
  padding-left: 1.5em; }

.navbar-default .navbar-nav > li > a:hover {
  color: white;
  background-color: rgba(86, 172, 226, 0.3); }

.navbar-default .navbar-nav > li > a:focus {
  color: #56ACE2; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #404040; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: #333333; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #e7e7e7; }

.navbar-nav {
  color: white; }

.navbar-brand {
  padding: 0px;
  position: absolute; }

.navbar-logo {
  width: 200px;
  -webkit-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out;
  padding-top: 7px;
  padding-left: 3px; }
  .navbar-logo:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03); }

.navbar-spacer {
  height: 3.6em; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #404040; }

.fork-me-ribbon {
  width: 16em;
  /*130px*/
  right: 0;
  top: 0;
  position: absolute; }

@media (max-width: 359px) {
  .fork-me-ribbon {
    display: none; } }

/*
********* Footer ***********
*/
.footer-container {
  background-color: #231E20;
  position: relative;
  z-index: 1; }

#footer {
  color: #989898;
  padding-top: 30px;
  padding-bottom: 30px; }
  #footer strong {
    color: inherit; }
  #footer p {
    font-size: 1.4em; }
  #footer h3 {
    margin-top: 10px; }
  #footer .nav > li > a {
    padding-left: 0;
    font-size: 1.6em; }
  #footer .early-adopters p {
    padding-top: 14px; }

.signature-container {
  background-color: #FFFFFF;
  position: relative;
  z-index: 1; }
  .signature-container .signature {
    margin: 0; }
    .signature-container .signature .ms-logo-footer {
      width: 8em;
      padding-top: 0px;
      padding-left: 20px; }
    .signature-container .signature p {
      font-size: 1.2rem;
      line-height: 5.6em;
      vertical-align: middle;
      color: #989898; }
      .signature-container .signature p span {
        margin-top: 10px;
        font-size: 1em;
        padding: 0 2px; }
    .signature-container .signature .pull-left, .signature-container .signature pull-right {
      margin-bottom: 0px; }

@media (max-width: 991px) {
  #footer {
    font-size: 1.2em; }
  .ms-logo-footer {
    padding-top: 4px; } }

@media (min-width: 992px) {
  .ms-logo-footer {
    padding-top: 6px; } }

/*
********* Modifications to Bootstrap ***********
*/
button.btn {
  background-color: #1274a9;
  color: #FFFFFF;
  border-radius: 0;
  border: 0; }

button.btn-invert {
  background-color: #56ACE2;
  color: #231E20; }

button.btn-invert:hover {
  background-color: #82c1e9;
  color: #3e3639; }

.navbar-default .navbar-toggle {
  border: 0; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #231E20; }

/* centered columns styles */
.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left; }

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent; }

.github-fork-ribbon {
  background-color: #6c9548; }

@media (max-width: 430px) {
  .github-fork-ribbon {
    display: none; } }

/* Our Stuff (Page Specific) */
/*
********* Hero Section ***********
*/
.hero {
  background-color: black;
  background-image: url("../images/CodePushFinal_4_bg.svg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/CodePushFinal_4_bg.svg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/CodePushFinal_4_bg.svg', sizingMethod='scale')"; }

.hero-image-foreground {
  width: auto;
  max-width: 85%;
  left: 50%;
  margin-bottom: -6em;
  margin-top: -5em;
  max-height: 66em;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative; }

@media (max-width: 767px) {
  .hero-image-foreground {
    margin-top: 0;
    max-width: initial;
    width: 150%;
    height: 150; }
  .bannerLogo {
    display: none; } }

.top_navbar_spacer {
  height: 50px; }

.top_section {
  text-align: center;
  font-size: 1em;
  padding-top: 1em;
  padding-bottom: 5em; }
  .top_section .row:first-child {
    position: relative; }

.hero_logo_container .logo_text {
  font-size: 6em;
  font-family: "Comfortaa-Bold"; }
  .hero_logo_container .logo_text .logo_text_code {
    color: #56ACE2; }
  .hero_logo_container .logo_text .logo_text_push {
    color: #7BCD33; }

.hero_logo_container .signup-banner {
  padding-top: 8px; }

.hero_logo_container img, .hero_logo_container div {
  color: black;
  font-size: 3.25em;
  margin: 0; }
  .hero_logo_container img p, .hero_logo_container div p {
    margin-bottom: 0;
    line-height: 1em; }
  .hero_logo_container img p:nth-child(2), .hero_logo_container div p:nth-child(2) {
    color: #7BCD33; }

.hero pre {
  background-color: #E5E5E5;
  border-color: #E5E5E5;
  padding: 1em;
  font-weight: 600;
  font-size: 1.6em;
  width: 25em;
  margin-top: -5.2em;
  text-align: center; }

@media (min-width: 10em) {
  .hero_logo_container {
    font-size: .8em; }
    .hero_logo_container .logo_text {
      margin-left: 0; }
  .hero pre {
    margin-top: -5em; } }

.bannerLogo {
  width: 2.4em; }

.bannerText {
  font-family: wf_segoe-ui_light;
  font-size: 2.6em;
  color: #FFFFFF; }

.bannerText > p {
  font-size: 1.4em;
  font-weight: 500;
  padding: 0 3em 0 3em; }

.bannerTextHeadline {
  font-weight: lighter;
  padding: 0 1.4em;
  padding-bottom: .5em;
  font-weight: 500; }

.bannerButtons {
  margin-top: 4em; }

.bannerButtons > .col-sm-4 {
  border-radius: 0;
  padding: 4px; }

.bannerButtons > div > .btn {
  border-radius: 0;
  background-color: #7BCD33;
  color: black;
  width: 10em;
  padding: 10px 16px;
  font-size: 1.6em; }

.value-prop-container {
  background-color: #252f3c;
  width: 100%;
  padding: 2em 0 2.5em;
  font-size: 1.4em;
  color: #FFFFFF; }

.next-steps-container {
  background-color: #E5E5E5;
  padding: 4em 0; }
  .next-steps-container .row > div .content {
    padding-top: 10px;
    padding-left: 25px; }
    .next-steps-container .row > div .content li {
      font-size: 1.6em; }
  .next-steps-container .row > div .next-step-link {
    font-size: 2.2em;
    font-family: "Comfortaa-Regular";
    color: #1274a9; }
    .next-steps-container .row > div .next-step-link span {
      font-size: 1em; }
  .next-steps-container .row > div:nth-child(1) {
    padding-right: 60px; }
  .next-steps-container .row > div:nth-child(2) {
    padding-left: 60px;
    border-left: 1px solid #1274a9; }
  .next-steps-container p {
    font-size: 1.6em; }

.beta-container {
  background: url("../images/betaBg.png") no-repeat center;
  background-color: #32404B;
  padding-bottom: 1em;
  color: #989898; }
  .beta-container img {
    max-width: 120px; }
  @media (max-width: 768px) {
    .beta-container {
      background-color: #333333; }
      .beta-container img {
        max-width: 80px; } }
  .beta-container h1 {
    margin-top: 5px;
    margin-bottom: 0px; }
  .beta-container .textarea-container {
    margin-right: auto;
    margin-left: auto;
    padding-top: 5px;
    max-width: 700px; }
    .beta-container .textarea-container textarea {
      border-radius: 8px;
      resize: none;
      padding: 15px;
      font-size: 1.6em; }
  .beta-container .checkbox {
    color: #FFFFFF;
    font-size: 1.6em;
    width: 100%; }
    .beta-container .checkbox label {
      margin-left: 10px; }
  .beta-container button {
    margin: 0px 10px;
    margin-bottom: 20px; }
    .beta-container button i {
      font-size: 1.6em;
      margin-top: -20px;
      -webkit-transform: translateY(10%);
      transform: translateY(10%);
      margin-right: 10px;
      margin-left: 0px; }

@media (max-width: 768px) {
  .next-steps-container .row {
    padding: 12px;
    font-size: 1.2em; }
  .next-steps-container .row > div:nth-child(2) {
    padding-left: 18px;
    padding-top: 18px;
    border-left: 0px;
    margin-bottom: -20px; } }

.value-prop {
  font-size: 1em;
  height: 4em;
  margin: 1em 0 1em 0; }
  .value-prop p, .value-prop div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block; }
  .value-prop p {
    padding-left: 4em;
    padding-right: 1em; }
  @media (max-width: 607px) {
    .value-prop p {
      padding-left: 6em; } }
  .value-prop .value-prop-icon {
    background-image: url(../images/valueprop_sprite.svg);
    background-clip: padding-box;
    width: 5em;
    height: 5em;
    background-repeat: no-repeat;
    background-size: 15em;
    position: absolute; }

.value-prop-1 {
  background-position: 0; }

.value-prop-2 {
  background-position: 50%; }

.value-prop-3 {
  background-position: 100%; }

.box-highlight-containers {
  padding: 0 2em; }

.box-headline-img {
  margin-top: 5em;
  width: 8em; }

.box-text {
  font-size: 1.2em;
  padding: 0 1.5em; }

.line {
  display: inline-block; }

.box-text > h3 {
  font-size: 1.6em;
  padding-bottom: .5em; }

@media (min-width: 767px) {
  #navigation {
    position: fixed; } }

@media (max-width: 607px) {
  .navbar-spacer {
    height: 5em; } }

/*
********* How it works ***********
*/
.how_it_works {
  margin-top: 4em; }
  .how_it_works small {
    font-size: 1.3em; }
  .how_it_works ol {
    -moz-padding-start: 1.4em;
    -webkit-padding-start: 1.4em;
    -khtml-padding-start: 1.4em;
    -o-padding-start: 1.4em;
    padding-left: 1.4em;
    font-size: 1.6em;
    line-height: 1.8em; }
    .how_it_works ol li {
      margin-bottom: 10px; }
  .how_it_works p {
    font-size: 1.6em;
    line-height: 1.8em; }
  .how_it_works .img {
    max-width: 375px; }

/*
********* Getting Started ***********
*/
.getting_started .row:first-child {
  margin-bottom: 1em; }

.getting_started .row {
  margin-bottom: 4em; }

.getting_started h1:first-child {
  margin-bottom: .7em; }

.getting_started h2 {
  margin-top: -40px;
  margin-left: 60px;
  margin-bottom: 20px; }

.getting_started h2 > span {
  position: relative;
  top: 44px;
  left: -60px; }

.getting_started p {
  font-size: 1.6em;
  line-height: 1.8em; }

.number_circle {
  width: 2.0em;
  height: 2.0em;
  padding: 0.5em;
  font-size: 1em;
  color: #ffffff;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #7BCD33;
  border-radius: 50%;
  margin-top: -0.5em; }

.well_code {
  padding: 19px;
  padding-bottom: 69px;
  position: relative;
  background-color: #E5E5E5;
  margin-top: 46px; }
  .well_code p {
    font-family: Menlo, Monaco, "Courier New", monospace; }
  .well_code div {
    position: absolute;
    top: 100%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    padding: 0;
    margin: 0;
    background-color: #cccccc;
    width: 100%;
    margin-left: -19px; }
    .well_code div button {
      margin: 5px; }

.well_text {
  padding: 19px;
  margin-top: 46px;
  border: 0;
  border-radius: 0;
  background-color: #E5E5E5; }
  .well_text ul {
    font-size: 1.6em; }
  .well_text p {
    line-height: 1.4em; }

.next-steps > ul {
  font-size: 1.6em; }

.next-steps > ul span {
  font-size: 1em; }

.signupText {
  margin-bottom: 20px; }

#signupWaiting {
  display: none;
  color: #56ACE2;
  font-size: 2em; }

#signupSuccess {
  display: none;
  color: #7BCD33;
  font-size: 2em; }

#signupError {
  display: none;
  color: #F005BD;
  font-size: 2em; }

#authModal iframe {
  width: 700px;
  height: 500px; }

.has-error .form-control {
  border: 2px solid #F005BD !important; }

/*
********* Friends ***********
*/
.cp_friends {
  padding: 2em; }
  .cp_friends h3 {
    text-align: center;
    padding-bottom: 1em; }
  .cp_friends .friend-container {
    padding-bottom: 4em;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 20em; }
  .cp_friends .friendbar-content {
    position: relative;
    z-index: 5;
    width: 100%;
    max-width: 120em;
    margin: 0 auto;
    left: 3em; }
  .cp_friends .friend-info {
    color: #666666; }
  .cp_friends .friend-contentcontainer {
    width: 100%; }
  .cp_friends .friend-item {
    padding: 1em;
    width: 20em;
    height: 100%;
    margin-top: 1em;
    text-align: center;
    color: black;
    margin: 1em;
    line-height: 14em;
    background-color: white; }
    .cp_friends .friend-item img {
      width: 60%; }
  .cp_friends .carousel-control.left, .cp_friends .carousel-control.right {
    background-image: none;
    width: 4.5em; }
  .cp_friends .carousel-control span {
    color: lightgray;
    text-shadow: none; }
  .cp_friends .carousel {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: .8em;
    height: 20em; }
  .cp_friends .carousel-inner > .item {
    padding: 1em .5em; }
  .cp_friends .carousel-indicators {
    bottom: -.4em;
    opacity: 0.4;
    font-size: 30%; }
    .cp_friends .carousel-indicators .active {
      width: 1.2em;
      height: 1.2em;
      margin: 0;
      background-color: white; }
  .cp_friends h1 {
    padding: 2em 0 2.6em 0;
    text-align: center; }
  .cp_friends .more-friends p {
    padding: 4em 0 3em 0; }

@media (max-width: 767px) {
  .hero_logo_container .signup-banner {
    margin-top: 3.7em; }
  .cp_friends .carousel-control.left {
    margin-top: -1.8em;
    margin-left: -1.2em; }
  .cp_friends .carousel-control.right {
    margin-top: -1.8em;
    margin-right: -1.2em; } }

@media (min-width: 768px) {
  /* Center the navs when not collapsed */
  .navbar_center {
    text-align: center;
    height: 50px; }
  .navbar_center > ul {
    display: inline-block;
    float: none; }
  .npm-banner {
    padding-top: 40px; }
  .cp_friends .carousel-control.left {
    margin-left: .5em; }
  .cp_friends .carousel-control.right {
    margin-right: .5em; } }

@media (min-width: 992px) {
  .getting_started p {
    padding-top: 4px; }
  .getting_started h2 {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 20px; }
  .getting_started h2 > span {
    position: relative;
    top: 44px;
    left: -60px; }
  .number_circle {
    margin-left: 15px;
    width: 2.4em;
    height: 2.4em;
    font-size: 2.4em;
    position: absolute;
    left: 0; }
  .getting-started-text {
    padding-left: calc(15px + 70px); }
  .cp_friends .carousel-control.left {
    margin-left: .2em; }
  .cp_friends .carousel-control.right {
    margin-right: .2em; } }

@media (min-width: 1200px) {
  /* Center the navs when not collapsed */
  .navbar_center {
    text-align: center;
    height: 50px; }
  .navbar_center > ul {
    display: inline-block;
    float: none; }
  .npm-banner {
    padding-top: 40px; }
  .cp_friends .carousel-control.left {
    margin-left: -.4em; }
  .cp_friends .carousel-control.right {
    margin-right: -.4em; } }

/*
********* Docs ***********
*/
html, body {
  height: 100%; }

.docs .col-sm-3 {
  width: 22%; }

h3, h4, h5 {
  padding: 4px 0; }

blockquote {
  font-size: 10px;
  margin: 2em 0;
  padding: .4em 2em; }

nav.xs-toc {
  padding-top: 3em;
  margin-bottom: -3em; }

.toc-container {
  overflow: hidden;
  margin-left: 24px;
  margin-top: 12px; }

.doc-fragment-anchor {
  display: block;
  position: relative;
  bottom: 50px; }

.toc-icon {
  width: 25px;
  height: 25px;
  background-image: url("../images/tocIcons.png");
  background-position: 75px 0;
  float: right;
  margin-right: 15px; }

.xs-toc h2 {
  padding-left: 10px; }

.xs-toc a:hover {
  background-color: #eee; }

.toc-icon-active {
  width: 25px;
  height: 25px;
  background-image: url("../images/tocIcons.png");
  background-position: 50px 0;
  float: right;
  margin-right: 15px; }

.doc-header {
  padding-left: 10px; }
  .doc-header .doc-title {
    font-size: 4em; }
  .doc-header .edit-page-link {
    font-size: 12px; }

.doc-content {
  padding-left: 10px;
  padding-bottom: 20px; }
  .doc-content p, .doc-content span, .doc-content code {
    font-size: 1.6em; }
  .doc-content ul li, .doc-content ol li {
    font-size: 1.6em; }
    .doc-content ul li li, .doc-content ol li li {
      font-size: 1.0em; }
    .doc-content ul li p, .doc-content ol li p {
      font-size: 1.0em; }
  .doc-content h1 {
    color: #7BCD33;
    margin-bottom: 2em; }
  .doc-content h2, .doc-content p, .doc-content li {
    line-height: 1.8em; }
  .doc-content img {
    height: auto;
    max-width: 100%;
    padding-bottom: 1.2em; }

p code, li code, td code {
  background-color: transparent;
  color: #657b83;
  font-size: 1em !important; }

pre {
  margin-top: 0;
  margin-bottom: 1em;
  display: block;
  padding: 0px;
  font-size: 1em;
  line-height: 1.4285;
  color: #333;
  white-space: pre !important;
  word-wrap: normal !important;
  background-color: white;
  border: 2px solid white;
  border-radius: 0px; }
  pre code {
    white-space: pre !important;
    word-wrap: normal !important;
    font-size: 100%;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color: transparent;
    color: #657b83;
    font-size: 1em; }
  pre p:first-child, pre span:first-child {
    font-size: 14px; }

table {
  margin-bottom: 1em;
  width: 100%; }

td, th {
  padding: .25em .5em;
  border: 2px solid #000;
  font-size: 1.3em; }

th {
  text-align: left;
  background-color: #1e1e1e;
  color: #fff; }

.site-toc-title {
  font-weight: 300;
  font-size: 2.2em;
  text-transform: uppercase; }

/* outer ToC for the site */
.site-toc {
  padding: 0px; }

.site-toc li {
  list-style: none; }

.site-toc > li {
  list-style: none;
  font-size: 1.8em;
  font-weight: 300;
  padding: 0.5em 0em; }

.site-toc > li .this-page {
  font-weight: bold; }

/* inner ToC for the page */
.page-toc ul li:first-child {
  margin-top: 1em; }

.page-toc ul > li {
  padding: 0.5em 0em 0.5em 1em;
  font-size: 14px;
  border-left: 0.5em solid rgba(76, 194, 228, 0.5); }

.page-toc ul > li.toc-active {
  font-weight: bold;
  border-left: 0.5em solid #4CC2E4; }

.hljs {
  background: #f5fafd; }
  .hljs span {
    font-size: 1.0em !important; }

.hljs-keyword {
  color: #6fb92d; }

.toc-container {
  height: 100%;
  overflow: hidden; }
  .toc-container .row {
    position: fixed; }

.feedback-container {
  width: 80%; }
  .feedback-container .widget {
    background-color: #a6e1f2;
    padding: 6px 20px 20px 20px;
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 40px; }
    .feedback-container .widget h3 {
      color: white;
      font-size: 1.6em; }
    .feedback-container .widget .widget-thankyou h3 {
      font-size: 2.2em; }
    .feedback-container .widget .widget-thankyou .message p {
      color: #666;
      font-size: 1.2em; }
    .feedback-container .widget .buttons button {
      background-color: #21bbed;
      color: #fff;
      font-size: 1.4rem;
      padding: 5px 20px;
      margin-right: 5px;
      margin-top: 10px;
      border: 0px transparent; }

.faq hr {
  margin-top: 3em;
  padding-bottom: 1em; }

.faq .main_content {
  padding-top: 0px;
  padding-bottom: 3em; }

.faq {
  margin-top: 4em; }

.faq a.anchor {
  padding-left: 1em;
  opacity: 0.5; }

.faq h1 {
  text-align: center; }

.faq p {
  font-size: 1.6em; }

.post {
  margin-bottom: 6em; }
  .post p, .post span, .post code {
    font-size: 1.6em; }
  .post ul li {
    font-size: 1.6em; }
    .post ul li p {
      font-size: 1em; }
  .post ol li {
    font-size: 1.6em; }
    .post ol li p {
      font-size: 1em; }
  .post .author {
    padding-left: 4px; }
  .post .post-header {
    text-align: center;
    margin-bottom: 3.5em; }
    .post .post-header span {
      color: #989898; }

.blog p, .blog span {
  font-size: 1.6em; }

.blog .title {
  font-size: 2.4em;
  padding-bottom: 0.3em; }

.blog .blogHeader {
  position: relative;
  padding: 0 15px 25px 15px; }
  .blog .blogHeader h1 {
    display: inline-block; }
  .blog .blogHeader div {
    position: relative;
    top: 5px;
    display: inline-block; }
    .blog .blogHeader div img {
      float: left;
      padding-left: 14px;
      width: 38px; }
    .blog .blogHeader div a {
      float: left;
      font-size: 12pt;
      padding: 4px 0 0 4px;
      font-weight: lighter;
      color: #4cc2e4; }

.blog .blog-list ul {
  list-style-type: none;
  padding-bottom: 20px; }

.blog .blog-list .posts li:first-child header .adorner {
  background-color: #3992ab; }

.blog .blog-list .posts header {
  position: relative;
  height: 64px; }
  .blog .blog-list .posts header .adorner {
    height: 50px;
    width: 5px;
    background-color: #f2f2f2;
    position: absolute;
    left: -20px; }
  .blog .blog-list .posts header .title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
  .blog .blog-list .posts header .author {
    padding-left: 6px; }
  .blog .blog-list .posts header div:nth-of-type(2) {
    color: #b58733;
    top: -4px;
    position: relative; }
    .blog .blog-list .posts header div:nth-of-type(2) span {
      color: #999;
      position: relative;
      top: -6px;
      font-size: 1.8em; }
    .blog .blog-list .posts header div:nth-of-type(2) .date {
      color: #2f2f2f; }

.blog .blog-list .posts section {
  padding-bottom: 60px; }
  .blog .blog-list .posts section a {
    font-size: 1.6em; }

.blog .social-container {
  max-width: 360px;
  padding: 128px 0 20px 0; }
  .blog .social-container .container {
    background-color: #f2f2f2;
    width: 330px;
    padding-bottom: 18px; }
    .blog .social-container .container .header {
      position: relative;
      padding: 20px 0 6px 0; }
      .blog .social-container .container .header div {
        float: left;
        color: #808080;
        font-size: 18px;
        padding-left: 2px; }
      .blog .social-container .container .header img {
        padding: 2px 0 10px 12px;
        width: 134px;
        margin: 0px;
        border-radius: 0px; }
    .blog .social-container .container .feed {
      background-color: white;
      padding: 0px;
      height: 449px; }
      .blog .social-container .container .feed ul {
        list-style-type: none;
        padding: 0;
        margin: 0; }
        .blog .social-container .container .feed ul li {
          position: relative; }
          .blog .social-container .container .feed ul li img {
            top: 0px;
            float: left;
            width: 36px;
            margin: 0px;
            border-radius: 0px; }
          .blog .social-container .container .feed ul li .name {
            color: black;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-weight: bold;
            font-size: 110%;
            padding-left: 8px; }
          .blog .social-container .container .feed ul li .handle {
            color: gray;
            font-weight: lighter;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 90%;
            padding-left: 7px;
            margin-top: -2px; }
          .blog .social-container .container .feed ul li .date {
            color: gray;
            font-weight: bold;
            float: right; }
          .blog .social-container .container .feed ul li .content {
            color: black;
            padding-top: 6px;
            padding-left: 1px; }
          .blog .social-container .container .feed ul li hr {
            margin: 18px;
            border-bottom: none; }
    .blog .social-container .container .promo {
      color: gray;
      background-color: white;
      height: 40px;
      padding-top: 9px;
      margin-top: 15px;
      text-align: center;
      font-size: 110%; }
      .blog .social-container .container .promo:hover {
        color: white;
        background-color: gray; }

.blog .rss-link {
  padding: 0 18px 18px 40px; }
  .blog .rss-link img {
    width: 88px;
    height: 31px; }

.blog div.post {
  padding: 12px 15px 0 15px;
  margin-top: -8px; }
  .blog div.post .author {
    padding-left: 6px;
    font-size: 12pt; }
  .blog div.post div {
    padding-bottom: 30px; }
    .blog div.post div span {
      font-size: 11pt;
      color: #9a9a9a;
      position: relative;
      top: -4pt; }
  .blog div.post section > div.content {
    padding: 40px 0;
    color: black; }
  .blog div.post .disqus {
    margin-top: 30px; }
    .blog div.post .disqus div {
      padding-bottom: 0px; }

.blog section.nextprev-posts div .header {
  padding: 10px 0; }

.blog section.nextprev-posts div .title {
  color: #3992ab; }

.blog section.nextprev-posts div span {
  font-size: 9pt;
  color: #999;
  padding: 0 4px; }

.blog section.nextprev-posts .next, .blog section.nextprev-posts .prev {
  padding: 10px 15px; }

.blog section.nextprev-controls div {
  position: fixed;
  top: 37%; }
  .blog section.nextprev-controls div .title {
    color: white; }
  .blog section.nextprev-controls div span {
    font-size: 9pt;
    color: #999;
    padding: 0 2px; }
  .blog section.nextprev-controls div div {
    position: relative;
    top: 64px;
    left: 20px;
    z-index: 10;
    width: 240px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }

.blog section.nextprev-controls .next {
  right: 0px;
  height: 90px;
  width: 321px;
  top: calc(37% - 38px); }
  .blog section.nextprev-controls .next img {
    position: fixed;
    right: 0px; }

.blog section.nextprev-controls .prev {
  left: 0px; }

@media (max-width: 1800px) {
  .blog section.nextprev-controls .next img {
    clip: rect(0px, 321px, 89px, 262px);
    top: 37%; }
  .blog section.nextprev-controls div .title {
    display: none; }
  .blog section.nextprev-controls div span {
    display: none; } }

@media (max-width: 1300px) {
  .blog section.nextprev-controls .next img, .blog section.nextprev-controls .prev img {
    display: none; } }

.friends {
  margin-top: 4em; }
  .friends h1 {
    padding: 0 1.4em;
    padding-bottom: 0.5em;
    margin-top: 0; }
  .friends .introduction {
    padding: 1em 2em 3em 2em; }
  .friends .friend-container {
    padding-bottom: 8em;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .friends .friendbar-content {
    position: relative;
    z-index: 5;
    width: 100%;
    max-width: 120em;
    margin: 0 auto; }
  .friends .friend-info {
    color: #666666; }
  .friends .friend-contentcontainer {
    width: 100%; }
  .friends .friend-item {
    padding: 1.5em;
    height: 175px;
    width: 175px;
    text-align: center;
    margin: 1.5em;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 3em; }
  .friends .friend-logo {
    width: auto;
    height: auto;
    border-radius: 3.8em; }
  .friends .disclaimer {
    text-align: center;
    padding-top: 0em;
    padding-bottom: 5em; }

article.tabs {
  position: relative;
  display: block;
  width: 40em;
  height: 15em;
  margin: 2em auto; }

article.tabs section {
  position: absolute;
  display: block;
  top: 1.8em;
  left: 0;
  height: 12em;
  padding: 10px 20px;
  background-color: #ddd;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  z-index: 0; }

article.tabs section:first-child {
  z-index: 1; }

article.tabs section h2 {
  position: absolute;
  font-size: 1em;
  font-weight: normal;
  width: 120px;
  height: 1.8em;
  top: -1.8em;
  left: 10px;
  padding: 0;
  margin: 0;
  color: #999;
  background-color: #ddd;
  border-radius: 5px 5px 0 0; }

article.tabs section:nth-child(2) h2 {
  left: 132px; }

article.tabs section:nth-child(3) h2 {
  left: 254px; }

article.tabs section h2 a {
  display: block;
  width: 100%;
  line-height: 1.8em;
  text-align: center;
  text-decoration: none;
  color: inherit;
  outline: 0 none; }

article.tabs section h2 {
  position: absolute;
  font-size: 1em;
  font-weight: normal;
  width: 120px;
  height: 1.8em;
  top: -1.8em;
  left: 10px;
  padding: 0;
  margin: 0;
  color: #999;
  background-color: #ddd;
  border-radius: 5px 5px 0 0; }

article.tabs section:nth-child(2) h2 {
  left: 132px; }

article.tabs section:nth-child(3) h2 {
  left: 254px; }

article.tabs section h2 a {
  display: block;
  width: 100%;
  line-height: 1.8em;
  text-align: center;
  text-decoration: none;
  color: inherit;
  outline: 0 none; }

article.tabs section:target,
article.tabs section:target h2 {
  color: #333;
  background-color: #fff;
  z-index: 2; }

article.tabs section,
article.tabs section h2 {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease; }
